.table{
    margin-bottom: 0 !important;
    overflow: hidden;
}

.card-body{
    padding: 0 !important;
}

.card{
    overflow: hidden;
}

.table thead th { 
    background-color:var(--pacific-cyan); 
    color: white;
}

th{
    text-align: center !important;
}
tr td{
    text-align: center !important;
}