<div class="background-colour">


    <div class="container d-flex flex-column justify-content-center h-100 align-items-center">

        <div class="d-flex flex-column align-items-center mb-4">

            <h1>Stradus</h1>
            <h4 class="text-body-secondary">Sistema de Gerenciamento de Frotas</h4>
        </div>

        <div class="card" style="width: 36rem;">
            <div class="card-body">
                <h4 class="card-title">Bem-vindo!</h4>
                <h6 class="card-subtitle mb-2 text-body-secondary">Entre com suas credenciais para acessar o sistema
                </h6>
                <form [formGroup]="loginForm" [class.was-validated]="submitted" class="mt-4 mb-4 needs-validation" novalidate>
                    <div class="form-floating mb-3">
                        <input required type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
                        <label for="floatingInput">Email</label>
                        <div class="invalid-feedback">Email é obrigatório.</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input required type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
                        <label for="floatingPassword">Senha</label>
                        <div class="invalid-feedback">Senha é obrigatória.</div>
                    </div>
                    <div class="d-grid mt-4">
                        <button class="btn btn-primary" type="button" (click)="onSubmit()" [disabled]="isLoading">
                            <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span *ngIf="isLoading" class="visually-hidden">Loading...</span>
                            <span *ngIf="!isLoading">Login</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>


    </div>



</div>